@use "../custom" as *;

.display-2 {
  margin-bottom: 1rem;
  text-transform: capitalize;
  font-family: "Poppins", sans-serif;

  &--intro {
    display: inline-block;
    font-weight: 700;
    color: $white;
    font-family: "Poppins", sans-serif;
  }

  &--description {
    font-size: 1rem;
    display: block;
    margin-top: 1.2rem;
    text-transform: none;

    @include media-breakpoint-up(lg) {
      font-size: 1.5rem;
      display: inline-block;
    }
  }
}

// heading line
.heading-line::before {
  background-color: $primary;
  content: "";
  display: block;
  height: 0.1rem;
  margin: 0 auto;
  width: 10rem;
}

.heading-line::after {
  background-color: $primary;
  content: "";
  display: block;
  height: 0.2rem;
  margin: 0 auto 1rem auto;
  padding-top: 0.5rem;
  width: 2rem;
}
